Project/car_sales/__pycache__/__init__.cpython-310.pyc
Project/car_sales/__pycache__/car_sales.cpython-310.pyc
Project/data_cleaner/__pycache__/__init__.cpython-310.pyc
Project/data_cleaner/__pycache__/data_cleaner.cpython-310.pyc
